.code-wrapper {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
}

.comments {
  font-style: italic;
}

.code-illustration {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin: 10px 0;
}

/* code block */
.csNcpH {
  padding-right: 40px !important;
}

.hafAWl {
  display: none !important;
}

.csNcpH:hover > .hafAWl {
  display: inline !important;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-button {
  background-color: #272A36;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
}