.block {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  background-color: lightgreen;
  border-radius: 5px;
}

.comments {
  font-style: italic;
}

.code-illustration {
  border-bottom: 1px solid black;
  margin: 10px 0;
}

/* code block */
.csNcpH {
  padding-right: 40px !important;
}

.hafAWl {
  display: none !important;
}

.csNcpH:hover > .hafAWl {
  display: inline !important;
}
