.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-navigation {
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
  gap: 20px;
}

.link {
  text-decoration: none;
}

.logo {
  width: 10vw;
}

.page-description {
  font-size: large;
  font-weight: bold;
}